/* EditUserPassword.css */

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h4 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

hr {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.control-label {
    font-weight: bold;
}

.text-danger {
    color: #d9534f;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}
.navbar {
      background: linear-gradient(to bottom, #003366 0%, #003366 100%);
    width: 100%;
    height: 56px;
}

.nav-link {
    color: rgb(240, 243, 246);
}

    .nav-link:hover {
        color: rgb(167, 169, 172);
    }

.img {
    width: 100px;
    height: 56px;
}

.footer {
     background: linear-gradient(to bottom, #003366 0%, #003366 100%);
    padding: 100px 0px;
    font-family: "Play", sans-serif;
    text-align: center;
    height: 100px;
}

    .footer.column {
          background: linear-gradient(to bottom, #003366 0%, #003366 100%);
        font-size: 0.8em;
    }

        .footer .column a {
            text-decoration: none;
            color: rgb(229, 237, 247);
            transition: 0.5s;
            font-size: 28px; /* Increase this value as needed */
        }

    .footer .row a {
        text-decoration: none;
        color: rgb(240, 244, 249);
        transition: 0.5s;
    }

    .footer .column a:hover {
        color: #86848c;
    }

    .footer .row a:hover {
        color: #8d8c95;
    }

    .footer .row ul {
        width: 100%;
    }

        .footer .row ul li {
            display: inline-block;
            margin: 0px 30px;
        }

    .footer .row a i {
        font-size: 2em;
    }

@media (max-width: 720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

        .footer .row ul li {
            display: block;
            margin: 10px 0px;
            text-align: left;
        }

        .footer .row a i {
            margin: 0% 3%;
        }
}