/* EditUserPassword.css */

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h4 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

hr {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.control-label {
    font-weight: bold;
}

.text-danger {
    color: #d9534f;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}
.navbar {
    background: linear-gradient( 90deg, rgb(2, 0, 36,1) 0%, rgb(74, 14, 154,1) 35%, rgb(0, 212, 225,1) 100% );
    width: 100%;
    height: 56px;
}

.nav-link {
    color: rgb(240, 243, 246);
}

    .nav-link:hover {
        color: rgb(167, 169, 172);
    }

.img {
    width: 100px;
    height: 56px;
}